<div class="background standard"></div>
<span class="content-container">
  <%= image_tag("jh.jpg", size: "200", class: "logo") %>
  <a href="/about" class="harvey-heading"><h1>Joshua Harvey</h1></a>
  <span class="harvey-contact-links-container">
    <%= link_to '<i class=\'fa fa-github\' aria-hidden=\'true\'></i>'.html_safe, 'https://github.com/jmharvey0', class: 'harvey-contact-link' %>
    <%= link_to '<i class=\'fa fa-linkedin\' aria-hidden=\'true\'></i>'.html_safe, 'http://linkedin.com/in/jmharvey0', class: 'harvey-contact-link' %>
  </span>

  <%= link_to 'About', about_path %>
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'Process', process_path %>
  <%= link_to 'Contact Me', contact_path %>
</span>